.numbersContainer {
  display: flex;
  justify-content: center; // didn't exist on trapezoids
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  padding: 0 20px 0 20px;
  height: 60%;
  width: 80%;
}

.twoDots {
  position: relative;
  top: -17px;
  font-size: 300px;
}
