.numbersContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  gap: 500px;
  padding: 0 20px 0 20px;
  border: 5px rgb(0, 64, 255) solid;
  height: 60%;
  width: 80%;
}
