.digitsContainer {
  display: flex;
  box-sizing: border-box;
  height: 90%;
  width: 15%;
  border: 5px green solid;
}

.trapezoid {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid;
  height: 70px;
  border-left-color: rgb(0, 0, 0);
  &.passive {
    opacity: 0.6;
  }
}

#d1 {
  position: relative;
  bottom: 40px;
  left: 54px;
  transform: rotate(90deg);
}

#d2 {
  position: relative;
  bottom: -17px;
  left: -27px;
}

#d3 {
  position: relative;
  bottom: -17px;
  left: 45px;
  transform: rotate(180deg);
}

#d4 {
  border-bottom: unset;
  border-top: unset;
  border-left: unset;
  position: relative;
  width: 72px;
  height: 40px;
  left: -57px;
  bottom: -134px;
}

#d4:before {
  content: "";
  position: relative;
  bottom: -49.5px;
  left: -23.5px;
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
  border-top: solid 30px;
}

#d4:after {
  content: "";
  position: relative;
  bottom: 32.5px;
  left: -144px;
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
  border-bottom: solid 30px;
}

#d5 {
  position: relative;
  bottom: -160px;
  left: -159px;
}

#d6 {
  position: relative;
  bottom: -160px;
  left: -87px;
  transform: rotate(180deg);
}

#d7 {
  position: relative;
  bottom: -216px;
  left: -168.3px;
  transform: rotate(270deg);
}
