@import "./mixings.scss";

.digit-container {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 4px transparent solid;
  position: relative;
}

.d1-shape {
  @include trapezoid-top-base;
}

.d2-shape {
  @include trapezoid-left-base;
  top: 0;
}

.d3-shape {
  @include trapezoid-right-base;
  top: 0;
  right: 0;
}

.d4-shape {
  @include hexagon;
  top: 42%;
}

.d5-shape {
  @include trapezoid-left-base;
  bottom: 0;
}

.d6-shape {
  @include trapezoid-right-base;
  bottom: 0;
  right: 0;
}

.d7-shape {
  @include trapezoid-bottom-base;
  bottom: 0;
}
