.digitsContainer {
  display: flex;
  box-sizing: border-box;
  height: 90%;
  width: 15%;
  border: 5px green solid;
}

.trapezoid {
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid;
  height: 70px;
  border-left-color: rgb(0, 0, 0);
  &.passive {
    opacity: 0.6;
  }
}

#d1 {
  position: relative;
  bottom: 40px;
  left: 54px;
  transform: rotate(90deg);
}

#d2 {
  position: relative;
  bottom: -17px;
  left: -27px;
}

#d3 {
  position: relative;
  bottom: -17px;
  left: 45px;
  transform: rotate(180deg);
}

#d4 {
  border-left-color: #f00; //d
  position: relative;
  width: 42px;
  height: 10px;
  left: -57px;
  bottom: -119px;
  background-color: #f00;
}

#d4:before {
  content: "";
  position: relative;
  top: -50.87px;
  left: -50px;
  border-left: solid 75px transparent;
  border-right: solid 75px transparent;
  border-top: solid 50px #f00;
}

#d4:after {
  content: "";
  position: relative;
  top: -28.87px;
  left: 0;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  border-top: solid 28.87px #f00;
}

#d5 {
  position: relative;
  bottom: -160px;
  left: -159px;
}

#d6 {
  position: relative;
  bottom: -160px;
  left: -87px;
  transform: rotate(180deg);
}

#d7 {
  position: relative;
  bottom: -216px;
  left: -168.3px;
  transform: rotate(270deg);
}
