@mixin trapezoidLeftBase {
  position: absolute;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 30px solid;
  height: 22%;
  &.passive {
    opacity: 0.3;
  }
}

@mixin trapezoidRightBase {
  position: absolute;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid;
  height: 22%;
  &.passive {
    opacity: 0.3;
  }
}

@mixin trapezoidBottomBase {
  position: absolute;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid;
  width: 37%;
  &.passive {
    opacity: 0.3;
  }
}

@mixin trapezoidTopBase {
  position: absolute;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 30px solid;
  width: 37%;
  &.passive {
    opacity: 0.3;
  }
}
