@import "../../utils/variables.scss";

.clock-component-container {
  border: 2px rgba(128, 128, 128, 0.5) solid;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -1px 5px gray;
  overflow: hidden;
}

.clock-small {
  .component-container {
    padding: 2px 0 0 0;
  }

  .day-text {
    flex: 1 1 auto;
    width: max-content;
    font-size: 11px;
    font-weight: 900;
  }

  .ampm-container {
    font-size: 12px;

    .ampm-text {
      right: 31px;

      &:last-child {
        right: 3px;
      }
    }
  }

  .two-digits:after {
    font-size: 2em;
    right: -8px;
  }
}

.component-container {
  padding: 5px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
  border: 5px rgba(243, 243, 243) solid;
  height: 100%;
  width: 100%;
  gap: 5px;
}

.ampm-container {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}

.ampm-text {
  font-weight: 900;
  position: absolute;
  right: 40px;
  top: -3px;

  &:last-child {
    right: 5px;
  }

  &.passive {
    opacity: 0.3;
  }
}

.days-container {
  width: 100%;
}

.digits-container {
  height: 55%;
  width: 80%;
}
