@import "../../utils/variables.scss";

.clockComponentContainer {
  border: 10px rgba(128, 128, 128, 0.5) solid;
  border-radius: 30px;
  box-shadow: 0 0 0 3px black;
  height: 130px;
  width: 250px;
  &.small {
    height: 100px;
    width: 150px;
  }
}

.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
  border: 5px rgba(243, 243, 243) solid;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  gap: 5%;
}

.ampmContainer {
  position: relative;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 18px;
  height: 10%;
  width: 100%;
  &.small {
    padding-top: 8px;
    font-size: 13px;
  }
}

.ampmText {
  font-weight: 900;
  position: absolute;
  right: 40px;
  top: -5px;

  &:last-child {
    top: -5px;
    right: 5px;
  }
  &.small {
    right: 28px;
    top: -5px;
  }
  &:last-child.small {
    right: 3px;
  }
  &.passive {
    opacity: 0.3;
  }
}

.daysContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
  gap: 5%;
}
