body,
html,
#master {
  height: 98%;
  width: 98%;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px red solid;
  height: 600px;
  width: 1300px;
}

.daysContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  bottom: 35%;
  border: 3px rgb(26, 255, 0) solid;
  height: 20%;
  width: 90%;
}
