body,
html,
#master {
  height: 98%;
  width: 98%;
}

@font-face {
  font-family: Helvetica;
  src: url('./assets/fonts/Helvetica.ttf');
}

body {
  font:normal 16px Arial, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px red solid;
  height: 600px;
  width: 1300px;
  gap: 50px;
}

.daysContainerOld-Trapezoid {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border: 5px rgb(58, 184, 0) solid;
  height: 20%;
  width: 80%;
}

.daysContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border: 5px rgb(58, 184, 0) solid;
  height: 20%;
  width: 80%;
}
