body,
html,
#master {
  height: 98%;
  width: 98%;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-container {
  border: 2px red solid;
  height: 60vh;
  width: 70vw;
}
